<h1>Add a message</h1>
<form action="/messages/addMessage" method="POST">
  <div>
    <label for="pseudo">Pseudo</label>
    <input type="text" id="pseudo" name="pseudo">
  </div>
  <div>
    <label for="content">Content</label>
    <input type="content" id="content" name="content">
  </div>
  <button type="submit">add</button>
</form>